h2 a {
    color: #000 !important;
    text-decoration: none !important;
}
.leermas{ color: rgb(35, 112, 112);
}
.carrito-img {
            width: 80px;
            height: 80px;
            object-fit: cover;
            border-radius: 8px;
        }
#btnCarrito a {color: aliceblue;
text-decoration: none;}

.mensaje {
    max-width: 600px;
    margin: 10px auto;
    padding: 12px 18px;
    border-radius: 12px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    transition: opacity .4s ease-in-out;
}